body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: lighter;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}

div {
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 16px;
}

.content_header {
    padding: 0px 5% 2.5% 100px;
}

.divider{
    border-bottom: 2px solid rgb(200, 200, 200);
    width: 80%;
    height: 1px;
    padding: 5px;
}

.about_info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
}

.about_info_header h2 {
    margin: 0 0 10px 0;
}

.about_h img {
    height: 40%;
    width: 40%;
}

.about_parent {
    display: flex;
    flex-direction: row;
    padding: 2.5% 5% 5% 100px;
    z-index: 0;
}

#about_partent_b {
    justify-content: flex-end;
}

.about_img {
    align-items: center;
    justify-content: center;
    width: auto;
    height: 300px;
    text-align: center;
    z-index: inherit;
}

.about_img img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform .5s;
    z-index: inherit;
}

.about_img img:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.three_rows {
    display: flex;
    font-size: 0;
    flex-wrap: wrap;
    padding: 2.5% 5% 5% 100px;
}

.three_rows_child {
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 10px;
    flex-grow: 1;
    height: 100px;
    width: calc(100% * (1/4) - 10px - 1px);
}

.three_rows_child img {
    display: block;
    max-width: 70%;
    max-height: 70%;
    transition: transform .2s;
}

.three_rows_child img:hover {
    transform: scale(1.2);
}